/*
* INICIO HEADER
*/
nav{
  background-image: linear-gradient(to right bottom, #112e5b, #003963, #004468, #004f6c, #08596f);
}
.nav-item, .nav-link{
  color: rgb(255, 255, 255);
}
.selector-for-some-widget {
    box-sizing: content-box;
}
div.container a img{
  width: 150px;
}
.color-compra{
  color: white
}
.color-compra:hover{
  color: #97c93e;
}
/*
* FIN HEADER
*/


/*
* INICIO CARRUSEL
*/
.carousel-item img{
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}
#carousel{
  position: relative;
}
#carousel .overlay{
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgba(0,0,0,0.8);
  color: white;
}
#carousel .overlay .container, 
#carousel .overlay .row{
  height: 100%;
}
.boton-overlay{
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  width: 170px;
  height: 50px;
  background-color: black;
}
.boton-overlay:hover{
  color: white;
  background-color: #161515;
}
/*
* FIN CARRUSEL
*/


/*
* INICIO CARD TOPIC
*/
.temasConf{
  padding: 10px 0px 20px 0px;
  text-decoration: 2px underline black;
}
.card-topic{
  height: 100vh;
}
/*
* FIN CARD TOPIC
*/


/*
* INICIO CONTAINER FLUID
*/
.container-fluid .row{
  background-color: #08596f;
  color: white;
}
.container-fluid img{
  max-width: 100%;
  height: 100vh;
  margin: auto 0px;
}
.container-fluid span{
  line-height: 30px;
}
/*
* FIN CONTAINER FLUID
*/


/*
* INICIO FORMULARIO
*/
.formulario-contacto{
  max-width: 90%;
}
.formulario-contacto button{
  max-width: 100%;
}

/*
* FIN FORMULARIO
*/


/*
* INICIO FOOTER
*/
footer{
  background-image: linear-gradient(to right bottom, #112e5b, #003963, #004468, #004f6c, #08596f);
}
.footer div a{
  text-decoration: none;
  color: white;
}
.footer div a:hover{
  color: #97c93e;
}
/*
* FIN FOOTER
*/
